<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css"/>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1><%= user.name %></h1>
		</div>
		<p class="lead">Hi I'm, <%= user.name %>, you can email me at <%= user.email %> and I have <%= user.cats %> cats.</p>
	</div>
</body>
</html>