<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css"/>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>All Users</h1>
		</div>
		<% users.forEach(function(user){ %>
			<p><a href="/user/<%= user.id %>"><%= user.name %></a></p>
		<% }); %>
	</div>
</body>
</html>